@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    background-color: hsl(257, 40%, 49%);
    background-image: url("./images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0 7%;
    margin: 40px 0 0 0px;
}

#logo {
    margin-bottom: 30px;
}
#gen {
    display: flex;
}
#text {
    margin: 50px 0 0 45px;
}
div#text div:nth-of-type(1) {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 40px;
    color: hsl(0, 0%, 100%);
}
div#text div:nth-of-type(2) {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16.5px;
    color: hsl(0, 0%, 100%);
    margin-top: 25px;
}
button {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 50px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    color: hsl(257, 40%, 49%);
    margin-top: 30px;
    box-shadow: 0px 4px 6px 5px rgb(0, 0, 0, 0.1);
}
button:hover {
    cursor: pointer;
}
button:active {
    background-color: hsl(300, 69%, 71%);
    color: hsl(0, 0%, 100%);
}
.ico {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    justify-content: flex-end;
    

}
.icon {
    height: 30px;
    width: 30px;
    margin-left: 16px;
}
.fa-facebook {
    color: hsl(0, 0%, 100%);
    padding: 6px;
    border-radius: 50px;
    border: 1px solid hsl(0, 0%, 100%);
}
/* .icon:hover {
    border: none;
} */
.fa-facebook:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
    cursor: pointer;
}
.fa-twitter {
    color: hsl(0, 0%, 100%);
    padding: 6px;
    border-radius: 50px;
    border: 1px solid hsl(0, 0%, 100%);
}
.fa-twitter:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
    cursor: pointer;
}
.fa-instagram {
    color: hsl(0, 0%, 100%);
    padding: 6px;
    border-radius: 50px;
    border: 1px solid hsl(0, 0%, 100%);
}
.fa-instagram:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    body {
        background-image: url("./images/bg-mobile.svg");
        background-repeat: no-repeat;
        margin: 0;
        padding: 0%;
        width: 100%;
    }
    #ist {
        margin-top: 40px ;
        padding: 0 10.5%;
        align-items: center;
    }
    #gen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #text {
        margin: 50px 0 0 0px;
        text-align: center;
    }
    #logo {
        margin: 20px 0 45px 0px;
    }
    #log {
        height: 35px;
        width: 35%;
    }
    #ill {
        width: 100%;
        margin: 0 0%;
        /* margin-left: 30px; */
    }
    .ico {
        margin-top: 40px;
        justify-content: center;
    }
    .icon {
        margin-left: 0;
        margin-right: 20px;
    }
    }